---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import type { BlogType } from "../../content.config";
import Year from "../../components/Year.astro";
import { getBlogSlug } from "../../utils/blog";
import { SITE_METADATA } from "../../config/site";

export const prerender = true;
const blogs = await getCollection("blogs");
const years = [
  ...new Set(
    blogs.map((blog: BlogType) => new Date(blog.data.date).getFullYear())
  ),
];

export async function getStaticPaths({
  paginate,
}: {
  paginate: (data: BlogType[], options: { pageSize: number }) => unknown;
}) {
  const blogs = await getCollection("blogs");
  blogs.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

  return paginate(blogs, { pageSize: 8 });
}

const { page } = Astro.props as { page: { data: BlogType[] } };
---

<BaseLayout
  title={`Archive - ${SITE_METADATA.title}`}
  description={`All Blogs of ${SITE_METADATA.title}`}
  author={SITE_METADATA.author.name}
>
  <div class="center">
    <div class="flex items-center gap-8">
      <h1 class="heading">Archive</h1>
      <Year years={years} />
    </div>
    <ul class="my-3 space-y-3">
      {
        page.data.map((blog: BlogType) => (
          <li>
            <PostCard
              title={blog.data.title}
              date={blog.data.date
                .toLocaleDateString("en-GB", {
                  day: "numeric",
                  month: "short",
                })
                .slice(0, 11)}
              url={`/${getBlogSlug(blog)}`}
              tags={blog.data.tags}
            />
          </li>
        ))
      }
    </ul>
  </div>
  <Pagination page={page} />
</BaseLayout>
